<nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
        <li class='breadcrumb-item'><a href='/admin'>Banner</a></li>
        <li class='breadcrumb-item active' aria-current='page'>{{title}}</li>
    </ol>
</nav>
<section class='p-4 shadow rounded'>
    <form method='post' class='mb-0' enctype='multipart/form-data'>
        <div class='modal-body'>
            <div class='mb-3'>
                <label class='form-label bold' for='customFile'>Nội dung</label>
                <textarea
                    name='content'
                    class='ckeditor'
                >{{banner.content}}</textarea>
            </div>

            <div class='mb-3'>
                <label class='form-label bold' for='customFile'>Hình ảnh</label>
                <input
                    type='file'
                    class='form-control'
                    id='customFile'
                    accept='image/*'
                    name='banner'
                    onchange="preview(this, 'bannerImg')"
                />
                <img
                    src='{{banner.image}}'
                    alt=''
                    id='bannerImg'
                    width='40%'
                    class='mt-2'
                />
            </div>

            <div class='mb-3'>
                <label class='form-label bold' for='customFile'>Ảnh nền</label>
                <input
                    type='file'
                    class='form-control'
                    id='customFile'
                    accept='image/*'
                    name='bannerBg'
                    onchange="preview(this, 'bannerBgImg')"
                />
                <img
                    src='{{banner.backgroundImage}}'
                    alt=''
                    id='bannerBg'
                    width='40%'
                    class='mt-2'
                />
                <a href='#' class='text-danger'><i class="fa-solid fa-circle-xmark fa-xl"></i></a>
            </div>
        </div>
        <div class='modal-footer'>
            <a href='/admin' class='btn btn-secondary me-3'>Đóng</a>
            <button type='submit' class='btn btn-primary'>Cập nhật</button>
        </div>
    </form>
</section>