{{> section/banner}}
  <div class='row row-dashed show-for-small' id='row-152207476'>
    <div class='col small-12 large-12'>
      <div class='col-inner'>
        <h2
          style="margin-bottom: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center;"
        ><span style='font-size: 120%;'>PHẦN MỀM KẾ TOÁN</span></h2>
        <div class='row' id='row-227837639'>
          <div class='col medium-6 small-12 large-6'>
            <div class='col-inner'>
              <div class='img has-hover x md-x lg-x y md-y lg-y' id='image_1277565962'>
                <div class='img-inner dark'>
                  <img
                    alt=''
                    class='attachment-large size-large'
                    height='343'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-0S5Rg-pPkB8/YLyUq6qIAVI/AAAAAAAAAfM/dIr6udOQVpMUHow82xLBA-J4Cr87U95DgCLcBGAsYHQ/s508/simple-facebook-mb-min-min.png'
                    width='508'
                  /></div>
              </div>
            </div>
          </div>
          <div class='col medium-6 small-12 large-6'>
            <div class='col-inner'>
              <div class='img has-hover x md-x lg-x y md-y lg-y' id='image_1642314036'>
                <div class='img-inner dark'>
                  <img
                    alt=''
                    class='attachment-large size-large'
                    height='343'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-en4fLs-Ltec/YLyUq4fZ4-I/AAAAAAAAAfQ/PLoRZvd1_9crzAQj2daUJSwlABPWbzscgCLcBGAsYHQ/s508/pc-min.png'
                    width='508'
                  /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{#each sections}}
  {{#when layout 'eq'  'Liên kết'}}
    {{> section/headingSection title=title href=link }}
  {{/when}}

  {{#when layout 'eq'  'Hỗ trợ'}}
     {{> section/contactSection title=title }}
  {{/when}}
{{/each}}

  <div class='bg section-bg fill bg-fill bg-loaded'></div>
  <div class='section-content relative'>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
      {{#each sections}}
          {{#when layout 'eq' 'Giới thiệu'}}
             {{> section/introSection title=title description=description }}
          {{/when}}
      {{/each}}

      {{#each sections}}
        {{#when layout 'eq' 'Nội dung'}}
          {{#when @index 'eq' 4}}
              {{> section/contentSection title=title  description="
                <div class='icon-box featured-box icon-box-left text-left'>
          
            <div class='icon-box-img' style='width: 40px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='40'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-QgtuQIsxQ9A/YLyWwuHjW0I/AAAAAAAAAf4/tDY6uYwg46AeBRrhKyXcuglRKd8zyiMdQCLcBGAsYHQ/s41/service_icon_v5-min.png'
                    width='41'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <p>Quản lý khách hàng từ nhiều kênh khác nhau chỉ với thao tác trên phần mềm ;</p>
            </div>
                </div>
                <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                <div class='icon-box featured-box icon-box-left text-left'>
                  <div class='icon-box-img' style='width: 40px'>
                    <div class='icon'>
                      <div class='icon-inner'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='40'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-SAt0_4a8L9U/YLyWwjlACcI/AAAAAAAAAf0/wziZ-ZAEeLcmsLETvTNUaFP3GDcyV0tXwCLcBGAsYHQ/s46/service_icon_v6-min.png'
                          width='46'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <p>Lên kế hoạch thanh toán, nhắc công nợ tiện lợi và nhanh chóng ;</p>
                  </div>
                </div>
                <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                <div class='icon-box featured-box icon-box-left text-left'>
                  <div class='icon-box-img' style='width: 40px'>
                    <div class='icon'>
                      <div class='icon-inner'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='40'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-1RjSN3BJcUo/YLyW67eSLTI/AAAAAAAAAgA/tax7fDkJXHIjLzuqYZhAabtNeZNvMbi_wCLcBGAsYHQ/s40/service_icon_v7-min.png'
                          width='37'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <p>Được thiết kế theo tiêu chí dễ dàng sử dụng, giao diện trực quan ;</p>
                  </div>
                </div>
                <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                <div class='icon-box featured-box icon-box-left text-left'>
                  <div class='icon-box-img' style='width: 40px'>
                    <div class='icon'>
                      <div class='icon-inner'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='40'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-5ndZTVW8ROY/YLyWwqs_zNI/AAAAAAAAAfw/VfwwXvpjdEs7l6ORV-7LhI25n2HyqxL-wCLcBGAsYHQ/s40/service_icon_v8-min.png'
                          width='31'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <p>Tạo chiến lược kinh doanh chuyên nghiệp hơn với những chức năng của phần mềm.</p>
                  </div>
                </div>" image=image }}
          {{/when}}
          {{#when @index 'eq' 5}}

            {{> section/contentSection title=title reserved=true description="
                  <div class='icon-box featured-box icon-box-left text-left'>
            
              <div class='icon-box-img' style='width: 40px'>
                <div class='icon'>
                  <div class='icon-inner'>
                    <img
                      alt=''
                      class='attachment-medium size-medium'
                      height='40'
                      loading='lazy'
                      src='https://1.bp.blogspot.com/-QgtuQIsxQ9A/YLyWwuHjW0I/AAAAAAAAAf4/tDY6uYwg46AeBRrhKyXcuglRKd8zyiMdQCLcBGAsYHQ/s41/service_icon_v5-min.png'
                      width='41'
                    /></div>
                </div>
              </div>
              <div class='icon-box-text last-reset'>
                <p>Quản lý khách hàng từ nhiều kênh khác nhau chỉ với thao tác trên phần mềm ;</p>
              </div>
                  </div>
                  <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                  <div class='icon-box featured-box icon-box-left text-left'>
                    <div class='icon-box-img' style='width: 40px'>
                      <div class='icon'>
                        <div class='icon-inner'>
                          <img
                            alt=''
                            class='attachment-medium size-medium'
                            height='40'
                            loading='lazy'
                            src='https://1.bp.blogspot.com/-SAt0_4a8L9U/YLyWwjlACcI/AAAAAAAAAf0/wziZ-ZAEeLcmsLETvTNUaFP3GDcyV0tXwCLcBGAsYHQ/s46/service_icon_v6-min.png'
                            width='46'
                          /></div>
                      </div>
                    </div>
                    <div class='icon-box-text last-reset'>
                      <p>Lên kế hoạch thanh toán, nhắc công nợ tiện lợi và nhanh chóng ;</p>
                    </div>
                  </div>
                  <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                  <div class='icon-box featured-box icon-box-left text-left'>
                    <div class='icon-box-img' style='width: 40px'>
                      <div class='icon'>
                        <div class='icon-inner'>
                          <img
                            alt=''
                            class='attachment-medium size-medium'
                            height='40'
                            loading='lazy'
                            src='https://1.bp.blogspot.com/-1RjSN3BJcUo/YLyW67eSLTI/AAAAAAAAAgA/tax7fDkJXHIjLzuqYZhAabtNeZNvMbi_wCLcBGAsYHQ/s40/service_icon_v7-min.png'
                            width='37'
                          /></div>
                      </div>
                    </div>
                    <div class='icon-box-text last-reset'>
                      <p>Được thiết kế theo tiêu chí dễ dàng sử dụng, giao diện trực quan ;</p>
                    </div>
                  </div>
                  <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                  <div class='icon-box featured-box icon-box-left text-left'>
                    <div class='icon-box-img' style='width: 40px'>
                      <div class='icon'>
                        <div class='icon-inner'>
                          <img
                            alt=''
                            class='attachment-medium size-medium'
                            height='40'
                            loading='lazy'
                            src='https://1.bp.blogspot.com/-5ndZTVW8ROY/YLyWwqs_zNI/AAAAAAAAAfw/VfwwXvpjdEs7l6ORV-7LhI25n2HyqxL-wCLcBGAsYHQ/s40/service_icon_v8-min.png'
                            width='31'
                          /></div>
                      </div>
                    </div>
                    <div class='icon-box-text last-reset'>
                      <p>Tạo chiến lược kinh doanh chuyên nghiệp hơn với những chức năng của phần mềm.</p>
                    </div>
                  </div>" image=image }}
            {{/when}}
          {{/when}}
      {{/each}}
    </div>
  </div>

  <style scope='scope'>
    #section_2031079727 { padding-top: 30px; padding-bottom: 30px } #section_2031079727 .section-bg.bg-loaded {
    background-image:
    url(https://1.bp.blogspot.com/-4_Hudt-S5Tg/YLyXNGdouHI/AAAAAAAAAgg/T1obahXYHIYrWA32NQkJq-3QOwPKYgDSgCLcBGAsYHQ/s1920/banner-mins2.png)
    } #section_2031079727 .section-bg { background-layout: 20% 100% }
  </style>

<section class='section' id='section_978033073'>
  <div class='bg section-bg fill bg-fill bg-loaded'></div>
  <div class='section-content relative'>
    <div class='row' id='row-1918000332'>
      <div class='col small-12 large-12'>
        <div class='col-inner text-center'>
          <h2
            class='heading-title'
            style="font-family: 'Roboto Condensed', sans-serif; color: #2f2c2c; text-align: center;"
          ><span style='font-size: 120%;'>TẠI SAO NÊN CHỌN SAFEBOOKS</span></h2>
          <div class='heading-decoration'></div>
        </div>
      </div>
    </div>
    <div class='row align-equal' id='row-686323162'>
      <div class='col Proven medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-eJV3khkL6Mc/YLyYUXGaV4I/AAAAAAAAAhA/KLhJhFT0hlU307Ur1mSM0Mmy-t4bWP1KQCLcBGAsYHQ/s51/rating-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>DỄ SỬ DỤNG</span></h3>
              <p class='description'>Phần mềm do Arito phát triển theo slogan “Make it Simple”, giải pháp thông minh -
                Phát triển bền vững.</p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
      <div class='col Proven2 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-9XUQG2R70Gc/YLyYUf9QjMI/AAAAAAAAAhI/sxMpoCRcXBEAaJKt56fNiylzEiB808tZgCLcBGAsYHQ/s51/support-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>HỖ TRỢ 24/7</span></h3>
              <p class='description'>Để hổ trợ khách hàng tốt hơn, SAFEBOOK có mặt tại hầu hết các nền tảng mạng xã hội
                hiện nay</p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
    </div>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
    <div class='row align-equal' id='row-1932954942'>
      <div class='col Proven3 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255,255,255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-oDW5nkjnr9Y/YLyYUTEOq3I/AAAAAAAAAhE/lOjNDzyBCTg7_WhhVHrlZ52wJmJOmfJMACLcBGAsYHQ/s51/clipboard-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>CHÍNH SÁCH DÙNG THỬ</span></h3>
              <p class='description'>Để quý khách không còn lo lắng khi đưa ra quyết định , SAFEBOOKS đưa ra chính sách
                7 ngày dùng thử miễn phí uy tín chất lượng</p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
      <div class='col Proven6 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-HBM98Lcjz9A/YLyY_9owshI/AAAAAAAAAhk/92MCyW0Sg5M6Jc1LYzqVhPaCd5W_RKUugCLcBGAsYHQ/s51/network-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>Đội Ngũ Dày Kinh Nghiệm</span></h3>
              <p class='description'>Với kinh nghiệm hoạt động kinh doanh và phát triển phần mềm . Chúng tôi luôn cam
                kết tuy tin bảo đảm chất lượng , hỗ trợ các bạc hết mức có thể .</p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
    </div>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
    <div class='row align-equal' id='row-1640707149'>
      <div class='col Proven5 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-AU2DxFyRwY4/YLyY_5Wl8FI/AAAAAAAAAhc/8bO0UlSdSY041Ni-KoB9jcAz-2p0FnAAACLcBGAsYHQ/s51/99665-min-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>Ổn Định Và An Toàn</span></h3>
              <p class='description'><span style='font-size: 85%;'>Hệ thống phần mềm được viết dựa trên nhu cầu thực tế
                  sử dụng của doanh nghiệp. Chúng tôi luôn cập nhật và phản hồi nhanh nhất để phần mềm luôn hoạt đông ổn
                  định</span></p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
      <div class='col Proven4 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-3AA5th9zsIc/YLyY_yJYECI/AAAAAAAAAhg/G_GmLYMRwI4Iqr5C_jWq-jxJQGVB1-mPwCLcBGAsYHQ/s51/money-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>HỖ TRỢ NHANH CHÓNG</span></h3>
              <p class='description'><span style='font-size: 75%;'>SAFEBOOK luôn đảm bảo quyền lợi tối đa cho khách
                  hàng.
                </span></p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
    </div>
    <div class='row row-large align-center' id='row-2102972354'>
      <div class='col small-12 large-12'>
        <div class='col-inner'>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
          <div class='row row-collapse row-full-width hotlinebacolum hide-for-medium' id='row-1834206624'>
            <div class='col imagesdt medium-6 large-6'>
              <div class='col-inner'></div>
            </div>
            <div class='col medium-6 large-6'>
              <div class='col-inner'>
                <div class='icon-box featured-box campaign-fact-icon icon-box-left text-left'>
                  <div class='icon-box-img has-icon-bg' style='width: 60px'>
                    <div class='icon'>
                      <div class='icon-inner' style='border-width:1px;'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='51'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-rf957mROyEY/YLyZciFPVUI/AAAAAAAAAhw/-Gp3DJ0kbw4QGwWW2ICcHU-ubaCxu_sVQCLcBGAsYHQ/s51/jigsaw-400x400-min.png'
                          width='51'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <h3 class='title'>+
                      <span class='count-up' style='font-size: 120%;'><span
                          class='counter'
                          data-count='2'
                        >2</span></span><br />
                      <span style='font-size: 90%;'>Hơn 2 năm xây dựng và phát triển</span></h3>
                  </div>
                </div>
                <div class='icon-box featured-box campaign-fact-icon2 icon-box-left text-left'>
                  <div class='icon-box-img has-icon-bg' style='width: 60px'>
                    <div class='icon'>
                      <div class='icon-inner' style='border-width:1px;'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='51'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-XKBALvgKmPk/YLyZcwNDItI/AAAAAAAAAh0/5cJB4jS-VqEgKqiGlruYQ7mibKYJeHnYQCLcBGAsYHQ/s51/development-400x400-min.png'
                          width='51'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <h3 class='fact'>+<span class='count-up' style='font-size: 120%;'> 1000</span></h3>
                    <h4 class='fact-title'>Doanh nghiệp phát triển thành công cùng <strong>SAFEBOOKS.VN</strong></h4>
                  </div>
                </div>
                <div class='icon-box featured-box campaign-fact-icon3 icon-box-left text-left'>
                  <div class='icon-box-img has-icon-bg' style='width: 60px'>
                    <div class='icon'>
                      <div class='icon-inner' style='border-width:1px;'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='51'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-qkDIKV5m044/YLyZc8v9BTI/AAAAAAAAAh4/Ls_Pt6k5y5ksHutS9JOeJ1Fhxk8JLHL2QCLcBGAsYHQ/s51/handshake-400x400-min.png'
                          width='51'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <h3 class='fact'>+ <span class='count-up' style='font-size: 120%;'>500</span></h3>
                    <h4 class='fact-title'>Đối tác cùng<strong>SAFEBOOKS</strong> phát triển</h4>
                  </div>
                </div>
                <div class='getintouch'><a href='./lien-he/'><img
                      alt=''
                      data-lazy-src='//1.bp.blogspot.com/-700RL3LYwZs/YJ3OSWutwII/AAAAAAAAAVI/MqADxKDQQH41ymEzI4BxEQeyaeVSibsvgCLcBGAsYHQ/s332/getintouch-1-min.png'
                      draggable='false'
                      src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                    /></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='gap-element clearfix hide-for-medium' style='display:block; height:auto; padding-top:50px'></div>
  </div>
  <style scope='scope'>
    #section_978033073 { padding-top: 30px; padding-bottom: 30px; background-color: rgb(243, 243, 245) }
  </style>
</section>
{{> section/slideSection customers=customers }}

{{#each sections}}
  {{#when layout 'eq' 'Đội ngũ'}}
    {{> section/staffSection title=title description=description  }}
  {{/when}}
{{/each}}
{{#each sections}}
  {{#when layout 'eq' 'Bình luận'}}
    {{> section/feedbackSection  title=title description=description}}
  {{/when}}
{{/each}}

{{#each sections}}
  {{#when layout 'eq' 'Video'}}
    {{> section/videoSection title=title description=description href=link}}
  {{/when}}
{{/each}} 