{{> section/banner  banners=banners}}

{{#each sections}}
  {{#when layout 'eq' 'Liên kết'}}
    {{#when @index 'eq' 0}}
      {{> section/headingSection title=title href=link price=true }}
    {{/when}}
    {{#when @index 'eq' 2}}
      {{> section/headingSection title=title href=link }}
    {{/when}}
  {{/when}}

  {{#when layout 'eq' 'Hỗ trợ'}}
    {{> section/contactSection backgroundColor=backgroundColor title=title contact=section message=../message }}
  {{/when}}
{{/each}}

<div class='section-content relative'>
  <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
  {{#each sections}}
    {{#when layout 'eq' 'Giới thiệu'}}
      {{> section/introSection title=title description=description }}
    {{/when}}
  {{/each}}

  {{#each sections}}
    {{#when layout 'eq' 'Nội dung'}}
      {{#when @index 'eq' 4}}
        {{> section/contentSection title=title  description=description image=image }}
      {{/when}}
      {{#when @index 'eq' 5}}

        {{> section/contentSection title=title reserved=true description=description image=image }}
      {{/when}}
    {{/when}}
  {{/each}}
</div>
{{#each sections}}
  {{#when layout 'eq' 'Tính năng'}}
    {{> section/featureSection title=title  description=description image=image features=../features}}
  {{/when}}
{{/each}}

{{#each sections}}
  {{#when layout 'eq' 'Thành tựu'}}
    {{> section/archiveSection title=title  description=description image=image }}
  {{/when}}
{{/each}}
{{> section/slideSection backgroundColor=backgroundColor customers=customers }}

{{#each sections}}
  {{#when layout 'eq' 'Đội ngũ'}}
    {{> section/staffSection  staffs=../staffs  title=title description=description  }}
  {{/when}}
{{/each}}

{{#each sections}}
  {{#when layout 'eq' 'Bình luận'}}
    {{> section/feedbackSection backgroundColor=backgroundColor  title=title description=description comments=../comments}}
  {{/when}}
{{/each}}

{{#each sections}}
  {{#when layout 'eq' 'Video'}}
    {{> section/videoSection title=title description=description href=link}}
  {{/when}}
{{/each}}