{{> section/banner  banners=banners}}
  <div class='row row-dashed show-for-small' id='row-152207476'>
    <div class='col small-12 large-12'>
      <div class='col-inner'>
        <h2
          style="margin-bottom: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center;"
        ><span style='font-size: 120%;'>PHẦN MỀM KẾ TOÁN</span></h2>
        <div class='row' id='row-227837639'>
          <div class='col medium-6 small-12 large-6'>
            <div class='col-inner'>
              <div class='img has-hover x md-x lg-x y md-y lg-y' id='image_1277565962'>
                <div class='img-inner dark'>
                  <img
                    alt=''
                    class='attachment-large size-large'
                    height='343'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-0S5Rg-pPkB8/YLyUq6qIAVI/AAAAAAAAAfM/dIr6udOQVpMUHow82xLBA-J4Cr87U95DgCLcBGAsYHQ/s508/simple-facebook-mb-min-min.png'
                    width='508'
                  /></div>
              </div>
            </div>
          </div>
          <div class='col medium-6 small-12 large-6'>
            <div class='col-inner'>
              <div class='img has-hover x md-x lg-x y md-y lg-y' id='image_1642314036'>
                <div class='img-inner dark'>
                  <img
                    alt=''
                    class='attachment-large size-large'
                    height='343'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-en4fLs-Ltec/YLyUq4fZ4-I/AAAAAAAAAfQ/PLoRZvd1_9crzAQj2daUJSwlABPWbzscgCLcBGAsYHQ/s508/pc-min.png'
                    width='508'
                  /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{#each sections}}
  {{#when layout 'eq'  'Liên kết'}}
    {{> section/headingSection title=title href=link }}
  {{/when}}

  {{#when layout 'eq'  'Hỗ trợ'}}
     {{> section/contactSection title=title }}
  {{/when}}
{{/each}}

  <div class='bg section-bg fill bg-fill bg-loaded'></div>
  <div class='section-content relative'>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
      {{#each sections}}
          {{#when layout 'eq' 'Giới thiệu'}}
             {{> section/introSection title=title description=description }}
          {{/when}}
      {{/each}}

      {{#each sections}}
        {{#when layout 'eq' 'Nội dung'}}
          {{#when @index 'eq' 4}}
              {{> section/contentSection title=title  description="
                <div class='icon-box featured-box icon-box-left text-left'>
          
            <div class='icon-box-img' style='width: 40px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='40'
                    loading='lazy'
                    src='https://1.bp.blogspot.com/-QgtuQIsxQ9A/YLyWwuHjW0I/AAAAAAAAAf4/tDY6uYwg46AeBRrhKyXcuglRKd8zyiMdQCLcBGAsYHQ/s41/service_icon_v5-min.png'
                    width='41'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <p>Quản lý khách hàng từ nhiều kênh khác nhau chỉ với thao tác trên phần mềm ;</p>
            </div>
                </div>
                <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                <div class='icon-box featured-box icon-box-left text-left'>
                  <div class='icon-box-img' style='width: 40px'>
                    <div class='icon'>
                      <div class='icon-inner'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='40'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-SAt0_4a8L9U/YLyWwjlACcI/AAAAAAAAAf0/wziZ-ZAEeLcmsLETvTNUaFP3GDcyV0tXwCLcBGAsYHQ/s46/service_icon_v6-min.png'
                          width='46'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <p>Lên kế hoạch thanh toán, nhắc công nợ tiện lợi và nhanh chóng ;</p>
                  </div>
                </div>
                <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                <div class='icon-box featured-box icon-box-left text-left'>
                  <div class='icon-box-img' style='width: 40px'>
                    <div class='icon'>
                      <div class='icon-inner'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='40'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-1RjSN3BJcUo/YLyW67eSLTI/AAAAAAAAAgA/tax7fDkJXHIjLzuqYZhAabtNeZNvMbi_wCLcBGAsYHQ/s40/service_icon_v7-min.png'
                          width='37'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <p>Được thiết kế theo tiêu chí dễ dàng sử dụng, giao diện trực quan ;</p>
                  </div>
                </div>
                <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                <div class='icon-box featured-box icon-box-left text-left'>
                  <div class='icon-box-img' style='width: 40px'>
                    <div class='icon'>
                      <div class='icon-inner'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='40'
                          loading='lazy'
                          src='https://1.bp.blogspot.com/-5ndZTVW8ROY/YLyWwqs_zNI/AAAAAAAAAfw/VfwwXvpjdEs7l6ORV-7LhI25n2HyqxL-wCLcBGAsYHQ/s40/service_icon_v8-min.png'
                          width='31'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <p>Tạo chiến lược kinh doanh chuyên nghiệp hơn với những chức năng của phần mềm.</p>
                  </div>
                </div>" image=image }}
          {{/when}}
          {{#when @index 'eq' 5}}

            {{> section/contentSection title=title reserved=true description="
                  <div class='icon-box featured-box icon-box-left text-left'>
            
              <div class='icon-box-img' style='width: 40px'>
                <div class='icon'>
                  <div class='icon-inner'>
                    <img
                      alt=''
                      class='attachment-medium size-medium'
                      height='40'
                      loading='lazy'
                      src='https://1.bp.blogspot.com/-QgtuQIsxQ9A/YLyWwuHjW0I/AAAAAAAAAf4/tDY6uYwg46AeBRrhKyXcuglRKd8zyiMdQCLcBGAsYHQ/s41/service_icon_v5-min.png'
                      width='41'
                    /></div>
                </div>
              </div>
              <div class='icon-box-text last-reset'>
                <p>Quản lý khách hàng từ nhiều kênh khác nhau chỉ với thao tác trên phần mềm ;</p>
              </div>
                  </div>
                  <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                  <div class='icon-box featured-box icon-box-left text-left'>
                    <div class='icon-box-img' style='width: 40px'>
                      <div class='icon'>
                        <div class='icon-inner'>
                          <img
                            alt=''
                            class='attachment-medium size-medium'
                            height='40'
                            loading='lazy'
                            src='https://1.bp.blogspot.com/-SAt0_4a8L9U/YLyWwjlACcI/AAAAAAAAAf0/wziZ-ZAEeLcmsLETvTNUaFP3GDcyV0tXwCLcBGAsYHQ/s46/service_icon_v6-min.png'
                            width='46'
                          /></div>
                      </div>
                    </div>
                    <div class='icon-box-text last-reset'>
                      <p>Lên kế hoạch thanh toán, nhắc công nợ tiện lợi và nhanh chóng ;</p>
                    </div>
                  </div>
                  <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                  <div class='icon-box featured-box icon-box-left text-left'>
                    <div class='icon-box-img' style='width: 40px'>
                      <div class='icon'>
                        <div class='icon-inner'>
                          <img
                            alt=''
                            class='attachment-medium size-medium'
                            height='40'
                            loading='lazy'
                            src='https://1.bp.blogspot.com/-1RjSN3BJcUo/YLyW67eSLTI/AAAAAAAAAgA/tax7fDkJXHIjLzuqYZhAabtNeZNvMbi_wCLcBGAsYHQ/s40/service_icon_v7-min.png'
                            width='37'
                          /></div>
                      </div>
                    </div>
                    <div class='icon-box-text last-reset'>
                      <p>Được thiết kế theo tiêu chí dễ dàng sử dụng, giao diện trực quan ;</p>
                    </div>
                  </div>
                  <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                  <div class='icon-box featured-box icon-box-left text-left'>
                    <div class='icon-box-img' style='width: 40px'>
                      <div class='icon'>
                        <div class='icon-inner'>
                          <img
                            alt=''
                            class='attachment-medium size-medium'
                            height='40'
                            loading='lazy'
                            src='https://1.bp.blogspot.com/-5ndZTVW8ROY/YLyWwqs_zNI/AAAAAAAAAfw/VfwwXvpjdEs7l6ORV-7LhI25n2HyqxL-wCLcBGAsYHQ/s40/service_icon_v8-min.png'
                            width='31'
                          /></div>
                      </div>
                    </div>
                    <div class='icon-box-text last-reset'>
                      <p>Tạo chiến lược kinh doanh chuyên nghiệp hơn với những chức năng của phần mềm.</p>
                    </div>
                  </div>" image=image }}
            {{/when}}
          {{/when}}
      {{/each}}
    </div>
  </div>

  <style scope='scope'>
    #section_2031079727 { padding-top: 30px; padding-bottom: 30px } #section_2031079727 .section-bg.bg-loaded {
    background-image:
    url(https://1.bp.blogspot.com/-4_Hudt-S5Tg/YLyXNGdouHI/AAAAAAAAAgg/T1obahXYHIYrWA32NQkJq-3QOwPKYgDSgCLcBGAsYHQ/s1920/banner-mins2.png)
    } #section_2031079727 .section-bg { background-layout: 20% 100% }
  </style>
{{> section/otherSection }}
{{> section/slideSection customers=customers }}

{{#each sections}}
  {{#when layout 'eq' 'Đội ngũ'}}
    {{> section/staffSection  staffs=../staffs  title=title description=description  }}
  {{/when}}
{{/each}}

{{#each sections}}
  {{#when layout 'eq' 'Bình luận'}}
    {{> section/feedbackSection  title=title description=description comments=../comments}}
  {{/when}}
{{/each}}

{{#each sections}}
  {{#when layout 'eq' 'Video'}}
    {{> section/videoSection title=title description=description href=link}}
  {{/when}}
{{/each}} 