<div class='row row-large align-center' id='row-2102972354'>
  <div class='col small-12 large-12'>
    <div class='col-inner'>
      <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
      <div class='row row-collapse row-full-width hotlinebacolum hide-for-medium' id='row-1834206624'>
        <div class='col imagesdt medium-5 large-5'>
          <div class='col-inner' style='height:420px'>
            <img src='{{image}}' alt='phần mềm kế toán' style='height:100%' />
          </div>
        </div>
        <div class='col medium-7 large-7'>
          <div class='col-inner'>
            <div class='icon-box featured-box campaign-fact-icon icon-box-left text-left'>
              <div class='icon-box-img has-icon-bg' style='width: 60px'>
                <div class='icon'>
                  <div class='icon-inner' style='border-width:1px;'>
                    <img
                      alt=''
                      class='attachment-medium size-medium'
                      height='51'
                      loading='lazy'
                      src='/images/jigsaw-400x400-min.png'
                      width='51'
                    /></div>
                </div>
              </div>
              <div class='icon-box-text last-reset'>
                <h3 class='title'>+
                  <span class='count-up' style='font-size: 120%;'><span
                      class='counter'
                      data-count='2'
                    >2</span></span><br />
                  <span style='font-size: 90%;'>Hơn 2 năm xây dựng và phát triển</span></h3>
              </div>
            </div>
            <div class='icon-box featured-box campaign-fact-icon2 icon-box-left text-left'>
              <div class='icon-box-img has-icon-bg' style='width: 60px'>
                <div class='icon'>
                  <div class='icon-inner' style='border-width:1px;'>
                    <img
                      alt=''
                      class='attachment-medium size-medium'
                      height='51'
                      loading='lazy'
                      src='/images/development-400x400-min.png'
                      width='51'
                    /></div>
                </div>
              </div>
              <div class='icon-box-text last-reset'>
                <h3 class='fact'>+<span class='count-up' style='font-size: 120%;'> 1000</span></h3>
                <h4 class='fact-title'>Doanh nghiệp phát triển thành công cùng <strong>SAFEBOOKS.VN</strong></h4>
              </div>
            </div>
            <div class='icon-box featured-box campaign-fact-icon3 icon-box-left text-left'>
              <div class='icon-box-img has-icon-bg' style='width: 60px'>
                <div class='icon'>
                  <div class='icon-inner' style='border-width:1px;'>
                    <img
                      alt=''
                      class='attachment-medium size-medium'
                      height='51'
                      loading='lazy'
                      src='/images/handshake-400x400-min.png'
                      width='51'
                    /></div>
                </div>
              </div>
              <div class='icon-box-text last-reset'>
                <h3 class='fact'>+ <span class='count-up' style='font-size: 120%;'>500</span></h3>
                <h4 class='fact-title'>Đối tác cùng<strong>SAFEBOOKS</strong> phát triển</h4>
              </div>
            </div>
            <div class='getintouch'><a href='https://www.safebooks.vn/lien-he'><img
                  alt=''
                  data-lazy-src='/images/getintouch-1-min.png'
                  draggable='false'
                  src='/images/getintouch-1-min.png'
                /></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>