{{#if banners.0.video}}
  <section class='hero-slider hero-style' style='height:80%'>
    <iframe
      style='width:100%; height:100%'
      src='https://www.youtube.com/embed/{{banners.0.video}}?autoplay=1&mute=1&controls=0&loop=1&playlist={{banners.0.video}}&enablejsapi=1'
      title='YouTube video player'
      frameborder='0'
      allow=' autoplay;loop'
      allowfullscreen
    ></iframe>
  </section>
{{else}}
  <section class='hero-slider hero-style'>
    <div class='swiper-container-banner'>
      <div class='swiper-wrapper swiper-wrapper-banner'>

        {{#each banners.0.images}}
          <div class='swiper-slide'>
            <div class='slide-inner slide-bg-image' data-background='{{this}}'>
              <div class='container'>

              </div>
            </div>
            <!-- end slide-inner -->
          </div>
        {{/each}}

        <!-- end swiper-slide -->

        <!-- end swiper-slide -->
      </div>
      <!-- end swiper-wrapper -->

      <!-- swipper controls -->
      <div class='swiper-pagination'></div>
      <div class='swiper-banner-button-next'>
        <span></span>
      </div>
      <div class='swiper-banner-button-prev'>
        <span></span>
      </div>
    </div>
  </section>
{{/if}}
<!-- end of hero slider -->