<section class='hero-slider hero-style'>
  <div class='swiper-container-banner'>
    <div class='swiper-wrapper swiper-wrapper-banner'>
      <div class='swiper-slide'>
        <div class='slide-inner slide-bg-image' data-background='/uploads/banner/banner-1.jpg'>
          <div class='container'>

          </div>
        </div>
        <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->

      <div class='swiper-slide'>
        <div class='slide-inner slide-bg-image' data-background='/uploads/banner/banner-2.jpg'>

        </div>
        <!-- end slide-inner -->
      </div>
      <div class='swiper-slide'>
        <div class='slide-inner slide-bg-image' data-background='/uploads/banner/banner-3.jpg'>

        </div>
        <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->
    </div>
    <!-- end swiper-wrapper -->

    <!-- swipper controls -->
    <div class='swiper-pagination'></div>
    <div class='swiper-banner-button-next'>
      <span></span>
    </div>
    <div class='swiper-banner-button-prev'>
      <span></span>
    </div>
  </div>
</section>
<!-- end of hero slider -->