<div class='row {{#if reserved}} row-reverse  {{/if}}' id='row-1030797348'>
  <div class='col medium-5 small-12 large-5'>
    <div class='col-inner'>
      <h2 class='uppercase titlebb'><span style='font-size: 80%;'>
          {{title}}
        </span></h2>
      {{{description}}}
    </div>
  </div>
  <div class='col medium-7 small-12 large-7'>
    <div class='col-inner'>
      <p><img
          class='aligncenter size-medium'
          height='449'
          loading='lazy'
          src='{{image}}'
          alt='{{image}}'
          width='100%'
        /></p>
    </div>
  </div>
</div>

<div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
<div class='text-center'>
  <div
    class='is-divider divider clearfix'
    style='margin-top:0.2em;margin-bottom:0.2em;max-width:500px;height:2px;background-color:rgba(77, 97, 227, 0.32);'
  ></div>
</div>
<div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
