<div class='section-content relative'>
<div class='row' id='row-1918000332' data-aos="fade-up">
  <div class='col small-12 large-12'>
    <div class='col-inner text-center'>
      <h2
        class='heading-title'
        style="font-family: 'Roboto Condensed', sans-serif; color: #2f2c2c; text-align: center;"
      ><span style='font-size: 120%;'>TẠI SAO NÊN CHỌN SAFEBOOKS</span></h2>
      <div class='heading-decoration'></div>
    </div>
  </div>
</div>
<div class='row align-equal' id='row-686323162'  data-aos="fade-up">
    {{#each features}}

        <div class='col Proven{{#when @index 'noteq' 0}}{{@index}}{{/when}} medium-6 small-12 large-6 mb-5'>
            <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
            <div class='icon-box featured-box icon-box-left text-left'>
                <div class='icon-box-img' style='width: 60px'>
                <div class='icon'>
                    <div class='icon-inner'>
                    <img
                        alt=''
                        class='attachment-medium size-medium'
                        height='51'
                        loading='lazy'
                        src='{{image}}'
                        width='51'
                    /></div>
                </div>
                </div>
                <div class='icon-box-text last-reset'>
                <h3 class='title'><span style='font-size: 90%;'>{{title}}</span></h3>
                <p class='description'>{{description }}</p>
                </div>
            </div>
            <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
            </div>
        </div>
    
    {{/each}}
</div>
