<section class='section secback dark' id='section_521543635'>
  <div class='bg section-bg fill bg-fill bg-loaded'></div>
  <div class='section-content relative'>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:40px'></div>
    <div class='row' id='row-1549117855'>
      <div class='col medium-4 small-12 large-4'>
        <div class='col-inner'>
          <h3 class='uppercase thin-font' style='text-align: center;'><strong>{{title}}
              <span style='color: #ffcc00; text-decoration: underline;'>SAFEBOOKS</span></strong></h3>
          <div class='text-center'>
            <div class='is-divider divider clearfix' style='height:2px;background-color:rgb(219, 219, 219);'></div>
          </div>
          <p>{{description}}</p>
        </div>
      </div>
      <div class='col medium-8 small-12 large-8'>
        <div class='col-inner'>
          <div class='row' id='row-1359683358'>
            <div class='col small-12 large-12'>
              <div class='col-inner'>
                <div class='icon-box testimonial-box icon-box-left text-left'>
                  <div class='icon-box-img testimonial-image circle' style='width: 80px'>
                    <img
                      alt=''
                      class='attachment-thumbnail size-thumbnail'
                      height='150'
                      loading='lazy'
                      src='https://minsoftware.vn/wp-content/uploads/2019/09/Khach-hang-aiface-3-300x300-150x150.jpg'
                      width='150'
                    /></div>
                  <div class='icon-box-text p-last-0'>
                    <div class='star-rating'><span style='width:100%'><strong class='rating'></strong></span></div>
                    <div class='testimonial-text line-height-small italic test_text first-reset last-reset is-italic'>
                      <h3 class='thin-font'>Quang Minh</h3>
                      <h3 class='thin-font'>“Từ ngày sử dụng phần mềm safeboos, mình bớt hẳn quên thiếu hóa đơn cho
                        doanh nghiệp” –</h3>
                    </div>
                    <div class='testimonial-meta pt-half'>
                      <strong class='testimonial-name test_name'></strong>
                      <span class='testimonial-company test_company'></span></div>
                  </div>
                </div>
                <div class='icon-box testimonial-box icon-box-left text-left'>
                  <div class='icon-box-img testimonial-image circle' style='width: 80px'>
                    <img
                      alt=''
                      class='attachment-thumbnail size-thumbnail'
                      height='150'
                      loading='lazy'
                      src='https://minsoftware.vn/wp-content/uploads/2019/09/Khach-hang-aiface-1-300x300-150x150.jpg'
                      width='150'
                    /></div>
                  <div class='icon-box-text p-last-0'>
                    <div class='star-rating'><span style='width:100%'><strong class='rating'></strong></span></div>
                    <div class='testimonial-text line-height-small italic test_text first-reset last-reset is-italic'>
                      <h3>Diễm My</h3>
                      <h3 class='thin-font'>“Phần mềm SAFEBOOKS trợ thủ đắc lực cho những người làm giám đốc bận rộn như
                        mình. Cảm ơn đội ngũ SAFEBOOKS !”</h3>
                    </div>
                    <div class='testimonial-meta pt-half'>
                      <strong class='testimonial-name test_name'></strong>
                      <span class='testimonial-company test_company'></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style scope='scope'>
    #section_521543635 { padding-top: 15px; padding-bottom: 15px; background-color: #05334A }
  </style>
</section>