<section class='section' id='section_1965706432' data-aos='fade-up'>
  <div class='bg section-bg fill bg-fill bg-loaded'></div>
  <div class='section-content relative'>
    <div class='row align-center' id='row-1178274241'>
      <div class='col small-12 large-12'>
        <div class='col-inner text-center'>
          <h2 class='heading-title' style='font-size: 30px; font-family: Roboto Condensed;'>
            {{title}}
          </h2>
          <div class='heading-decoration'></div>
          <div class='row' id='row-sp-load'>
          </div>
          <a class='button primary is-gloss xemtatcasp' href='{{link}}' style='border-radius:10px;' target='_self'>
            <span>xem tất cả</span>
          </a>
          <div class='text-center'>
            <div class='is-divider divider clearfix' style='max-width:400px;height:1px;'></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <style scope='scope'>
    #section_1965706432 { padding-top: 30px; padding-bottom: 30px }
  </style>
</section>