<div class='row' id='row-548165739'>
  <div class='col whatwedo medium-4 small-12 large-4' data-aos='fade-right'>
    <div class='col-inner text-center'>
      <h2 class='elementor-heading-title elementor-size-default header-dividers'>{{title}}</h2>
    </div>
  </div>
  <div class='col medium-8 small-12 large-8' data-aos='fade-left'>
    <div class='col-inner'>
      <h4 style='text-align: justify; line-height: 1.5em; font-weight: normal'>{{{description}}}</h4>
    </div>
  </div>
</div>
<div class='row row-small align-right' id='row-403565492' style='max-width:' data-aos='fade-up'>
  <div class='col bakhungdau medium-3 small-12 large-3'>
    <div class='col-inner text-center dark' style='padding:30px 20px 0px 20px;'>
      <div class='icon-box featured-box icon-box-center text-center'>
        <div class='icon-box-img' style='width: 200px'>
          <div class='icon'>
            <div class='icon-inner' style='color:rgb(255, 255, 255);'>
              <img
                alt=''
                class='attachment-medium size-medium'
                height='200'
                loading='lazy'
                src='/images/icondoituong-1-min.png'
                width='200'
              /></div>
          </div>
        </div>
        <div class='icon-box-text last-reset'>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
          <div>
            <div class='kc_wrapper kc-col-inner-container'>
              <div
                class='kc-elm kc-css-155860 crumina-module crumina-info-box info-box--standard-centered-big kc-pc-loaded'
              >
                <div class='info-box-content'>
                  <h5 class='info-box-title'>ĐỐI TƯỢNG</h5>
                  <div class='info-box-text'> Phần mềm dành cho Giám đốc , kế toán,...</div>
                </div>
              </div>
            </div>
          </div>
          <div class='kc-elm kc-css-516403 kc_col-sm-3 kc_column_inner col-md-3 col-sm-6 col-xs-12'>
            <div class='kc_wrapper kc-col-inner-container'>
              <div
                class='kc-elm kc-css-571885 crumina-module crumina-info-box info-box--standard-centered-big kc-pc-loaded'
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col bakhungdauhai medium-3 small-12 large-3'>
    <div class='col-inner dark' style='padding:30px 20px 40px 20px;'>
      <div class='icon-box featured-box icon-box-center text-center'>
        <div class='icon-box-img' style='width: 200px'>
          <div class='icon'>
            <div class='icon-inner' style='color:rgb(255, 255, 255);'>
              <img
                alt=''
                class='attachment-medium size-medium'
                height='200'
                loading='lazy'
                src='/images/chienluoc-1-min.png'
                width='200'
              /></div>
          </div>
        </div>
        <div class='icon-box-text last-reset'>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
          <h5 class='info-box-title'>CHIẾN LƯỢC</h5>
          <div class='info-box-text'>2030 trở thành công ty phần mềm hàng đầu Việt Nam.</div>
        </div>
      </div>
    </div>
  </div>
  <div class='col bakhungdauba medium-3 small-12 large-3'>
    <div class='col-inner text-center dark' style='padding:30px 20px 0px 20px;'>
      <div class='icon-box featured-box icon-box-center text-center'>
        <div class='icon-box-img' style='width: 200px'>
          <div class='icon'>
            <div class='icon-inner' style='color:rgb(255, 255, 255);'>
              <img
                alt=''
                class='attachment-medium size-medium'
                height='200'
                loading='lazy'
                src='/images/51941-Converted-1-min.png'
                width='200'
              /></div>
          </div>
        </div>
        <div class='icon-box-text last-reset'>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
          <h5 class='info-box-title'>CÔNG NGHỆ</h5>
          <div class='info-box-text'>Với đội ngũ dày dặn kinh nghiệm trong lĩnh vực công nghệ thông tin.</div>
        </div>
      </div>
    </div>
  </div>
  <div class='col bakhungdauhai medium-3 small-12 large-3'>
    <div class='col-inner dark' style='padding:30px 20px 0px 20px;'>
      <div class='icon-box featured-box icon-box-center text-center'>
        <div class='icon-box-img' style='width: 200px'>
          <div class='icon'>
            <div class='icon-inner' style='color:rgb(255, 255, 255);'>
              <img
                alt=''
                class='attachment-medium size-medium'
                height='200'
                loading='lazy'
                src='/images/iconsumenh-min.png'
                width='200'
              /></div>
          </div>
        </div>
        <div class='icon-box-text last-reset'>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
          <h5 class='info-box-title'>SỨ MỆNH</h5>
          <div class='info-box-text'>Cam kết – Chia sẻ – Tận tâm – Sáng tạo</div>
        </div>
      </div>
    </div>
  </div>
</div>