<section class='section' id='section_978033073'>
  <div class='bg section-bg fill bg-fill bg-loaded'></div>
  <div class='section-content relative'>
    <div class='row' id='row-1918000332'>
      <div class='col small-12 large-12'>
        <div class='col-inner text-center'>
          <h2
            class='heading-title'
            style="font-family: 'Roboto Condensed', sans-serif; color: #2f2c2c; text-align: center;"
          ><span style='font-size: 120%;'>TẠI SAO NÊN CHỌN SAFEBOOKS</span></h2>
          <div class='heading-decoration'></div>
        </div>
      </div>
    </div>
    <div class='row align-equal' id='row-686323162'>
      <div class='col Proven medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='/images/rating-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>DỄ SỬ DỤNG</span></h3>
              <p class='description'>Phần mềm do Arito phát triển theo slogan “Make it Simple”, giải pháp thông minh -
                Phát triển bền vững.</p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
      <div class='col Proven2 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='/images/support-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>HỖ TRỢ 24/7</span></h3>
              <p class='description'>Để hổ trợ khách hàng tốt hơn, SAFEBOOK có mặt tại hầu hết các nền tảng mạng xã hội
                hiện nay</p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
    </div>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
    <div class='row align-equal' id='row-1932954942'>
      <div class='col Proven3 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255,255,255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='/images/clipboard-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>CHÍNH SÁCH DÙNG THỬ</span></h3>
              <p class='description'>Để quý khách không còn lo lắng khi đưa ra quyết định , SAFEBOOKS đưa ra chính sách
                7 ngày dùng thử miễn phí uy tín chất lượng</p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
      <div class='col Proven6 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='/images/network-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>Đội Ngũ Dày Kinh Nghiệm</span></h3>
              <p class='description'>Với kinh nghiệm hoạt động kinh doanh và phát triển phần mềm . Chúng tôi luôn cam
                kết tuy tin bảo đảm chất lượng , hỗ trợ các bạc hết mức có thể .</p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
    </div>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
    <div class='row align-equal' id='row-1640707149'>
      <div class='col Proven5 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='/images/99665-min-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>Ổn Định Và An Toàn</span></h3>
              <p class='description'><span style='font-size: 85%;'>Hệ thống phần mềm được viết dựa trên nhu cầu thực tế
                  sử dụng của doanh nghiệp. Chúng tôi luôn cập nhật và phản hồi nhanh nhất để phần mềm luôn hoạt đông ổn
                  định</span></p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
      <div class='col Proven4 medium-6 small-12 large-6'>
        <div class='col-inner' style='background-color:rgb(255, 255, 255);padding:30px 30px 10px 30px;'>
          <div class='icon-box featured-box icon-box-left text-left'>
            <div class='icon-box-img' style='width: 60px'>
              <div class='icon'>
                <div class='icon-inner'>
                  <img
                    alt=''
                    class='attachment-medium size-medium'
                    height='51'
                    loading='lazy'
                    src='/images/money-min.png'
                    width='51'
                  /></div>
              </div>
            </div>
            <div class='icon-box-text last-reset'>
              <h3 class='title'><span style='font-size: 90%;'>HỖ TRỢ NHANH CHÓNG</span></h3>
              <p class='description'><span style='font-size: 75%;'>SAFEBOOK luôn đảm bảo quyền lợi tối đa cho khách
                  hàng.
                </span></p>
            </div>
          </div>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        </div>
      </div>
    </div>
    <div class='row row-large align-center' id='row-2102972354'>
      <div class='col small-12 large-12'>
        <div class='col-inner'>
          <div class='gap-element clearfix' style='display:block; height:auto; padding-top:50px'></div>
          <div class='row row-collapse row-full-width hotlinebacolum hide-for-medium' id='row-1834206624'>
            <div class='col imagesdt medium-6 large-6'>
              <div class='col-inner'></div>
            </div>
            <div class='col medium-6 large-6'>
              <div class='col-inner'>
                <div class='icon-box featured-box campaign-fact-icon icon-box-left text-left'>
                  <div class='icon-box-img has-icon-bg' style='width: 60px'>
                    <div class='icon'>
                      <div class='icon-inner' style='border-width:1px;'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='51'
                          loading='lazy'
                          src='/images/jigsaw-400x400-min.png'
                          width='51'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <h3 class='title'>+
                      <span class='count-up' style='font-size: 120%;'><span
                          class='counter'
                          data-count='2'
                        >2</span></span><br />
                      <span style='font-size: 90%;'>Hơn 2 năm xây dựng và phát triển</span></h3>
                  </div>
                </div>
                <div class='icon-box featured-box campaign-fact-icon2 icon-box-left text-left'>
                  <div class='icon-box-img has-icon-bg' style='width: 60px'>
                    <div class='icon'>
                      <div class='icon-inner' style='border-width:1px;'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='51'
                          loading='lazy'
                          src='/images/development-400x400-min.png'
                          width='51'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <h3 class='fact'>+<span class='count-up' style='font-size: 120%;'> 1000</span></h3>
                    <h4 class='fact-title'>Doanh nghiệp phát triển thành công cùng <strong>SAFEBOOKS.VN</strong></h4>
                  </div>
                </div>
                <div class='icon-box featured-box campaign-fact-icon3 icon-box-left text-left'>
                  <div class='icon-box-img has-icon-bg' style='width: 60px'>
                    <div class='icon'>
                      <div class='icon-inner' style='border-width:1px;'>
                        <img
                          alt=''
                          class='attachment-medium size-medium'
                          height='51'
                          loading='lazy'
                          src='/images/handshake-400x400-min.png'
                          width='51'
                        /></div>
                    </div>
                  </div>
                  <div class='icon-box-text last-reset'>
                    <h3 class='fact'>+ <span class='count-up' style='font-size: 120%;'>500</span></h3>
                    <h4 class='fact-title'>Đối tác cùng<strong>SAFEBOOKS</strong> phát triển</h4>
                  </div>
                </div>
                <div class='getintouch'><a href='https://www.safebooks.vn/lien-he'><img
                      alt=''
                      data-lazy-src='/images/getintouch-1-min.png'
                      draggable='false'
                      src='/images/getintouch-1-min.png'
                    /></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='gap-element clearfix hide-for-medium' style='display:block; height:auto; padding-top:50px'></div>
  </div>
  <style scope='scope'>
    #section_978033073 { padding-top: 30px; padding-bottom: 30px; background-color: rgb(243, 243, 245) }
  </style>
</section>