<section class='section' id='section_978033073'>
  <div class='bg section-bg fill bg-fill bg-loaded'></div>

    
    <div class='gap-element clearfix hide-for-medium' style='display:block; height:auto; padding-top:50px'></div>
  </div>
  <style scope='scope'>
    #section_978033073 { padding-top: 30px; padding-bottom: 30px; background-color: rgb(243, 243, 245) }
  </style>
</section>