<section class='section'>
  <div class='container'>
    <div class='row' id='row-1124749063'>
      <div class='col small-12 large-12'>
        <div class='col-inner text-center'>
          <h2
            class='heading-title'
            style="font-family: 'Roboto Condensed', sans-serif; color: #2f2c2c; text-align: center;"
          >{{title}}</h2>
          <div class='heading-decoration'></div>
          <p>{{{description}}}
          </p>
          <div class='row align-middle' id='row-1165623172'>
            <div class='col medium-7 small-12 large-7'>
              <div class='col-inner'>
                <div class='banner has-hover' id='banner-590341970'>
                  <div class='banner-inner fill'>
                    <div class='banner-bg fill' style='z-index:5 ;'>
                      <iframe
                        width='560'
                        height='315'
                        src='https://www.youtube.com/embed/q4JIFj64XRw'
                        title='YouTube video player'
                        frameborder='0'
                        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                        allowfullscreen
                      ></iframe>
                    </div>
                    <div class='banner-layers container'>
                      <div class='fill banner-link'></div>
                      <div
                        class='text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text'
                        style='z-index:2'
                        id='text-box-577581907'
                      >
                        <style scope='scope'>
                          #text-box-577581907 { width: 60% } #text-box-577581907 .text { font-size: 100% }
                        </style>
                      </div>
                    </div>
                  </div>
                  <style scope='scope'>
                    #banner-590341970 { padding-top: 70%; background-color: rgb(255, 255, 255) } #banner-590341970
                    .bg.bg-loaded { background-image: url({{image}}) } #banner-590341970 .overlay { background-color:
                    rgba(0, 0, 0, .5) } #banner-590341970 .bg { background-layout: 58% 55% }
                  </style>
                </div>
              </div>
            </div>
            <div class='col medium-5 small-12 large-5'>
              <div class='col-inner text-center'>
                <h2
                  class='heading-title'
                  style="font-family: 'Roboto Condensed', sans-serif; color: #2f2c2c; text-align: center;"
                >VIDEO CỦA CHÚNG TÔI</h2>
                <div class='heading-decoration'></div>
                <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                <h4 class='thin-font' style='text-align: left;'><span style='font-size: 130%;'>Chúng tôi tin rằng để tạo
                    ra những sản phẩm hữu ích và chất lượng nhất thì chúng tôi phải thấu hiểu vấn đề của các bạn và
                    doanh nghiệp bạn đang cần.</span></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>