<footer class='footer-wrapper' id='footer'>
  <section class='section dangkyfoter dark' id='section_772178311'>
    <div class='bg section-bg fill bg-fill bg-loaded' style='z-index:1'>
      <div class='section-bg-overlay absolute fill'>

      </div>
    </div>
    <div class='section-content relative'>
      <div class='row align-middle align-center' id='row-1483443374'>
        <div class='col medium-6 small-12 large-6'>
          <div class='col-inner'>
            <p class='elementor-heading-title elementor-size-default'>
              <span style='font-size: 120%;'>Nhanh Lên Nào</span>
              <br />
              <span style='font-size: 120%;'>Đăng Ký Và Dùng Thử Miễn Phí</span>
            </p>
          </div>
        </div>
        <div class='col medium-6 small-12 large-6'>
          <div class='col-inner text-center'>
            <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'>

            </div>
            <a
              class='button white is-gloss is-larger'
              data-animate='fadeInLeft'
              href='https://www.safebooks.vn/'
              rel='noopener noreferrer'
              style='border-radius:99px;'
              target='_blank'
              data-animated='true'
            >
              <span>ĐĂNG KÝ DÙNG THỬ</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <style scope='scope'>
      #section_772178311 { padding-top: 50px; padding-bottom: 50px } #section_772178311 .section-bg-overlay {
      background-color: rgba(70, 43, 153, .27) } #section_772178311 .section-bg.bg-loaded { background-image:
      url(/images/background-1-min.jpg) } #section_772178311 .section-bg { background-position: 73% 40% }
    </style>
  </section>
  <section class='section footernam2 dark' id='section_624355297'>
    <div class='bg section-bg fill bg-fill bg-loaded' style='z-index:1'>

    </div>
    <div class='section-content relative'>
      <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'>

      </div>
      <div class='row align-middle' id='row-1983519363'>
        <div class='col medium-6 small-12 large-6 p-0'>
          <div class='col-inner'>
            <div
              class='ux-logo has-hover align-middle ux_logo inline-block'
              style='max-width: 100%!important; width: 378.83720930233px!important'
            >
              <div class='ux-logo-link block image-' href='' style='padding: 15px;' target='_self' title='minsoftware'>
                <img
                  alt='SAFEBOOKS'
                  class='ux-logo-image block lazyloading'
                  data-lazy-src='/images/Bản_sao_của_SAFEBOOKs.png'
                  src='/images/Bản_sao_của_SAFEBOOKs.png'
                  style='width:100%;'
                  title='SAFEBOOKS'
                  data-was-processed='true'
                />
              </div>
            </div>
          </div>
        </div>
        <div class='col medium-3 small-12 large-3'>
          <div class='col-inner'>
            <a class='plain' href='#'>
              <div class='icon-box featured-box icon-box-left text-left'>
                <div class='icon-box-img' style='width: 30px'>
                  <div class='icon'>
                    <div class='icon-inner'>
                      <img
                        alt=''
                        class='attachment-medium size-medium'
                        height='40'
                        loading='lazy'
                        src='/images/pin-6.png'
                        width='32'
                      />
                    </div>
                  </div>
                </div>
                <div class='icon-box-text last-reset'>
                  <p>
                    <span style='font-size: 90%;'>597M Tên Lửa, phường Bình Trị Đông B,</span>
                    <br />
                    <span style='font-size: 90%;'> Q.Bình Tân, Tp. Hồ Chí Minh</span>
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class='col medium-3 small-12 large-3'>
          <div class='col-inner'>
            <div class='icon-box featured-box icon-box-left text-left is-small'>
              <div class='icon-box-img' style='width: 45px'>
                <div class='icon'>
                  <div class='icon-inner'>
                    <img
                      alt=''
                      class='attachment-medium size-medium'
                      height='41'
                      loading='lazy'
                      src='/images/massage-6.png'
                      width='45'
                    />
                  </div>
                </div>
              </div>
              <div class='icon-box-text last-reset'>
                <p style='text-align: left;'>093 164 06 79<br />093 164 06 79<br />mkt.safebook.vn@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='text-center'>
        <div
          class='is-divider divider clearfix'
          style='max-width:60%;height:1px;background-color:rgba(255, 255, 255, 0.39);'
        >
        </div>
      </div>
      <div class='row' id='row-1367823382'>
        <div class='col medium-3 small-12 large-3'>
          <div class='col-inner text-center'>
            <div class='menu-services-container'>
              <h4 class='xs-content-title'>
                <span style='font-size: 90%;'>ĐIỀU KHOẢN &amp; CHÍNH SÁCH</span>
              </h4>
              <div class='menu-services-container'>
                <ul class='menu' id='menu-services'>
                  <li
                    class='menu-item menu-item-type-custom menu-item-object-custom menu-item-3066'
                    id='menu-item-3066'
                  >Chính sách bảo mật</li>
                  <li
                    class='menu-item menu-item-type-custom menu-item-object-custom menu-item-3067'
                    id='menu-item-3067'
                  >Điều khoản sử dụng</li>
                  <li
                    class='menu-item menu-item-type-custom menu-item-object-custom menu-item-3068'
                    id='menu-item-3068'
                  >Chính sách cài đặt</li>
                  <li
                    class='menu-item menu-item-type-custom menu-item-object-custom menu-item-3070'
                    id='menu-item-3070'
                  >Chính sách bảo hành</li>
                  <li
                    class='menu-item menu-item-type-custom menu-item-object-custom menu-item-3071'
                    id='menu-item-3071'
                  >Hướng dẫn thanh toán</li>
                </ul>
              </div>
            </div>
            <div class='img has-hover x md-x lg-x y md-y lg-y' id='image_1695456987'>
              <div class='img-inner dark'>
                <img
                  alt=''
                  class='attachment-large size-large'
                  height='84'
                  loading='lazy'
                  src='/images/atpsoftware-thong-bao-bo-cong-thuong-.png'
                  width='221'
                />
              </div>
            </div>
          </div>
        </div>
        <div class='col medium-3 small-12 large-3'>
          <div class='col-inner'>
            <div class='menu-services-container'>
              <h4 class='title'>VĂN PHÒNG</h4>
              <ul>
                <li>
                  <span style='font-size: 100%;'>Hồ Chí Minh -
                    <span style='color: #ffff00;'>0906.537.906</span>
                  </span>
                </li>
                <li>
                  <span style='font-size: 100%;'>Hà Nội -
                    <span style='color: #ffff00;'>0931.640.679</span>
                  </span>
                </li>
                <li>
                  <span style='font-size: 100%;'>Đà Nẵng -
                    <span style='color: #ffff00;'>0376.600.329</span>
                  </span>
                </li>
                <li>
                  <span style='font-size: 100%;'>Cần Thơ -
                    <span style='color: #ffff00;'>0912.990.331</span>
                  </span>
                </li>
              </ul>
            </div>
            <div class='text-center'>
              <div
                class='is-divider divider clearfix'
                style='margin-top:0.3em;margin-bottom:0.3em;max-width:150px;height:1px;'
              >
              </div>
            </div>
            <h4 class='title' style='text-align: center;'>
              <span style='font-size: 80%;'>KẾT NỐI SAFEBOOKS</span>
            </h4>
            <div class='social-icons follow-icons full-width text-center' style='font-size:135%'>
              <a
                class='icon-button facebook'
                data-label='Facebook'
                href='https://www.facebook.com/phanmemketoansafebooks/'
                rel='noopener noreferrer nofollow'
                target='_blank'
              ><i class='icon-facebook'></i><span></span></a>
              <a
                class='icon-button youtube'
                data-label='YouTube'
                href='https://www.youtube.com/channel/UCnit1NvEQKFXhk7fGvQglzQ'
                rel='noopener noreferrer nofollow'
                target='_blank'
              ><i class='icon-youtube'></i><span></span></a>
              <a class='icon-button mail' data-label='E-mail' href='mailto:mkt.safebook.vn@gmail.com' rel='nofollow'><i
                  class='icon-envelop'
                ></i><span></span></a>
              <a
                class='icon-button phone'
                data-label='Phone'
                href='tel:093 164 06 79'
                rel='noopener noreferrer nofollow'
                target='_blank'
              ><i class='icon-phone'></i><span></span></a>
            </div>
          </div>
        </div>
        <div class='col medium-3 small-12 large-3'>
          <div class='col-inner'>
            <h4 class='xs-content-title'>LIÊN HỆ </h4>
            <div class='wpcf7'>
              <div class='screen-reader-response'>

              </div>
              <form action='' class='wpcf7' id='quickbuy1' method='POST' target='hidden_iframe'>
                <div class='form-flat'>
                  <span class='your-email'>
                    <span class='wpcf7-form-control-wrap tel-584'>
                      <input
                        aria-invalid='false'
                        aria-required='true'
                        class='wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel phone'
                        name='tel-584'
                        placeholder='Số Điện Thoại*'
                        size='40'
                        type='tel'
                        value=''
                      />
                    </span>
                  </span>
                  <br />
                  <span class='your-message'>
                    <span class='wpcf7-form-control-wrap text-696'>
                      <input
                        aria-invalid='false'
                        aria-required='true'
                        class='wpcf7-form-control wpcf7-text wpcf7-validates-as-required name'
                        name='text-696'
                        placeholder='Lời Nhắn'
                        size='40'
                        type='text'
                        value=''
                      />
                    </span>
                  </span>
                  <br />
                  <input class='wpcf7-form-control wpcf7-submit buttongui' type='submit' value='Gửi' />
                </div>
                <input
                  class='wpcf7-pum'
                  type='hidden'
                  value='{&quot;closepopup&quot;:false,&quot;closedelay&quot;:0,&quot;openpopup&quot;:false,&quot;openpopup_id&quot;:0}'
                />
              </form>
            </div>
          </div>
        </div>
        <div class='col medium-3 small-12 large-3'>
          <div class='col-inner'>
            <div
              class='fb-page fb_iframe_widget'
              data-adapt-container-width='true'
              data-height='280'
              data-hide-cover='false'
              data-href='https://www.facebook.com/phanmemketoansafebooks/'
              data-show-facepile='true'
              data-small-header='false'
              data-tabs='timeline'
              data-width='250'
              fb-xfbml-state='rendered'
              fb-iframe-plugin-query='adapt_container_width=true&amp;app_id=&amp;container_width=240&amp;height=280&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FSafebooks.vn%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=250'
            >
              <span style='vertical-align: bottom; width: 240px; height: 280px;'>
                <iframe
                  src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fphanmemketoansafebooks%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=384243043471644'
                  width='340'
                  height='500'
                  style='border:none;overflow:hidden'
                  scrolling='no'
                  frameborder='0'
                  allowfullscreen='true'
                  allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'
                ></iframe>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style scope='scope'>
      #section_624355297 { padding-top: 20px; padding-bottom: 20px }
    </style>
  </section>

  <a
    class='back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle active'
    href='#top'
    id='top-link'
  >
    <i class='icon-angle-up'>

    </i>
  </a>
</footer>

<div class='call-now-button'>
  <div>
    <p class='call-text'>
      <a href='tel:0931640679' onclick="jQuery('.devvn_buy_now').click()" title='093 164 06 79'>
        093 164 06 79
      </a>
    </p>
    <a href='javascript::void(0)' onclick="jQuery('.devvn_buy_now').click()" title='093 164 06 79'>
      <div class='quick-alo-ph-circle'>

      </div>
      <div class='quick-alo-ph-circle-fill'>

      </div>
      <div class='quick-alo-ph-btn-icon quick-alo-phone-img-circle'>

      </div>
    </a>
  </div>
</div>

<style
  type='text/css'
>.rll-youtube-player{position:relative;padding-bottom:56.23%;height:0;overflow:hidden;max-width:100%}.rll-youtube-player
  iframe{position:absolute;top:0;left:0;width:100%;height:100%;z-index:100;background:0 0}.rll-youtube-player
  img{bottom:0;display:block;left:0;margin:auto;max-width:100%;width:100%;position:absolute;right:0;top:0;border:none;height:auto;cursor:pointer;-webkit-transition:.4s
  all;-moz-transition:.4s all;transition:.4s all}.rll-youtube-player
  img:hover{-webkit-filter:brightness(75%)}.rll-youtube-player
  .play{height:72px;width:72px;left:50%;top:50%;margin-left:-36px;margin-top:-36px;position:absolute;background:url(//1.bp.blogspot.com/-M0CTLpaoa08/YJ3OAQSBZuI/AAAAAAAAAU8/ibwKtK0q3GcJFkCH_6ZKkZL4ziSj8yf-gCLcBGAsYHQ/s64/youtube.png)
  no-repeat;cursor:pointer}@media screen and
  (max-width:2880px){.call-now-button{display:flex!important;background:#2e6ce8}.quick-call-button{display:block!important}}@media
  screen and (min-width:px){.call-now-button .call-text{display:none!important}}@media screen and
  (max-width:px){.call-now-button
  .call-text{display:none!important}}.call-now-button{top:90%}.call-now-button{left:3%}.call-now-button{background:#2e6ce8}.quick-alo-ph-btn-icon{background-color:#1f54f2!important}.call-now-button
  .call-text{color:#fff}.call-now-button .call-text>a:link,.call-now-button .call-text>a:visited{color:#fff}</style>
<div id='fb-root'></div>
<script
  async
  defer
  crossorigin='anonymous'
  src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0&appId=384243043471644&autoLogAppEvents=1'
  nonce='HssfSg9S'
></script>