<header class='header has-sticky sticky-jump' id='header' style=''>
  <div class='header-wrapper'>
    <div class='header-top hide-for-sticky nav-dark hide-for-medium' id='top-bar'>
      <div class='d-flex h-100 container justify-content-center'>
        <div class='flex-col hide-for-medium flex-left'>
          <ul class='nav nav-left medium-nav-center nav-small nav-divided'>
            <li class='header-contact-wrapper'>
              <ul class='nav nav-divided nav-uppercase header-contact' id='header-contact'>
                <li class='p-1'>
                  <a
                    class='text-uppercase'
                    href='https://www.google.com/maps/place/Safebooks.vn+-+Ph%E1%BA%A7n+m%E1%BB%81m+k%E1%BA%BF+to%C3%A1n+cho+m%E1%BB%8Di+doanh+nghi%E1%BB%87p/@10.7962993,106.5849577,13z/data=!4m19!1m13!4m12!1m4!2m2!1d106.6401792!2d10.8363776!4e1!1m6!1m2!1s0x31752d72af83438b:0xe428f6036ff0d874!2zU2FmZWJvb2tzLnZuIC0gUGjhuqduIG3hu4FtIGvhur8gdG_DoW4gY2hvIG3hu41pIGRvYW5oIG5naGnhu4dw!2m2!1d106.6068349!2d10.7547955!3m4!1s0x31752d72af83438b:0xe428f6036ff0d874!8m2!3d10.7547955!4d106.6068349?hl=vi'
                    rel='noopener noreferrer'
                    target='_blank'
                    data-bs-toggle='tooltip'
                    data-bs-placement='bottom'
                    title='597M Tên Lửa, phường Bình Trị Đông B, quận Bình Tân, Hồ Chí Minh, Việt Nam'
                  >
                    <i class='icon-map-pin-fill' style='font-size:16px;'>

                    </i>
                    <span> Địa Chỉ </span>
                  </a>
                </li>
                <li class='p-1'>
                  <a
                    class='text-uppercase'
                    href='mailto:mkt.safebook.vn@gmail.com'
                    data-bs-toggle='tooltip'
                    data-bs-placement='bottom'
                    title='mkt.safebook.vn@gmail.com'
                  >
                    <i class='icon-envelop' style='font-size:16px;'>

                    </i>
                    <span> Email </span>
                  </a>
                </li>
                <li class='p-1'>
                  <a
                    class='text-uppercase'
                    href='tel:093 164 06 79'
                    data-bs-toggle='tooltip'
                    data-bs-placement='bottom'
                    title='028 7101 2288'
                  >
                    <i class='icon-phone' style='font-size:16px;'>

                    </i>
                    <span>(028) 7101 2288</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class='flex-col hide-for-medium flex-right'>
          <ul class='nav top-bar-nav nav-right nav-small nav-divided'>
            <li class='html header-social-icons ml-0'>
              <div class='social-icons follow-icons full-width text-center mt-1' style='font-size:135%'>
                <a
                  class='icon-button facebook'
                  data-label='Facebook'
                  href='https://www.facebook.com/phanmemketoansafebooks/'
                  rel='noopener noreferrer nofollow'
                  target='_blank'
                ><i class='icon-facebook'></i><span></span></a>
                <a
                  class='icon-button youtube'
                  data-label='YouTube'
                  href='https://www.youtube.com/channel/UCnit1NvEQKFXhk7fGvQglzQ'
                  rel='noopener noreferrer nofollow'
                  target='_blank'
                ><i class='icon-youtube'></i><span></span></a>
                <a
                  class='icon-button mail'
                  data-label='E-mail'
                  href='mailto:mkt.safebook.vn@gmail.com'
                  rel='nofollow'
                ><i class='icon-envelop'></i><span></span></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class='header-main nav-dark' id='masthead'>

      <div class='header-inner justify-content-center container logo-left medium-logo-center' role='navigation'>

        <nav class='navbar navbar-expand-sm navbar-dark p-0'>

          <div
            class='flex-col show-for-medium flex-right position-absolute'
            style='margin-right: 30px; right: 0; top:10'
          >
            <button
              class='navbar-toggler mobile-nav nav nav-right border-0'
              style='margin-right: 30px; right: 0; top:0'
              type='button'
              data-bs-toggle='collapse'
              data-bs-target='#navbarTogglerDemo03'
              aria-controls='navbarTogglerDemo03'
              aria-expanded='false'
              aria-label='Toggle navigation'
            >
              <span class='text-light navbar-toggler-icon'></span>
            </button>
          </div>

          <div class='flex-col logo m-auto' id='logo'>
            <a href='https://www.safebooks.vn/' rel='home' title=''><img
                alt='SAFEBOOKS'
                class='header-logo-dark'
                height='100'
                target='_blank'
                src='/uploads/logo%20safebook%20(V)-05.png'
                width='200'
              /></a>
          </div>

          <div class='flex-col hide-for-medium flex-left flex-grow'>
            <ul class='header-nav header-nav-main nav nav-left nav-line-bottom nav-spacing-medium nav-uppercase'>
              <li class='header-divider'>
              </li>
              <li class='html custom html_topbar_left'>
                <div class='header-info' style='display: inline-block;vertical-align: middle;'>
                  <span class='text-light'>GỌI NGAY PKD<a
                      style='display:block;font-size:1.1rem;font-weight:700;line-height:1;margin-top: 3px;color:#fff'
                    >093 164 0679</a>
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class='collapse navbar-collapse menu-left justify-content-center' id='navbarTogglerDemo03'>
            <ul class='nav nav-line-bottom toggle-nav justify-content-center'>
              <li class='nav-item active'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/'>Trang Chủ</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/giai-phap-nganh'>Dịch vụ</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/tinh-nang'>Sản Phẩm</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/bang-gia'>Thanh Toán</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/lien-he'>Liên Hệ</a>
              </li>

              <li class='nav-item dropdown nav-item-has-children has-dropdown'>
                <a class='nav-link dropdown-toggle nav-top-link' href='#'>Kiến Thức</a>
                <ul class='dropdown-menu nav-dropdown nav-dropdown-default'>
                  <li>
                    <a class='dropdown-item' target='_blank' href='https://www.safebooks.vn/giai-phap-nganh'>Phần mềm</a>
                  </li>
                  <li>
                    <a class='dropdown-item' target='_blank' href='https://www.safebooks.vn/giai-phap-nganh'>Kinh nghiệm
                      kế toán</a>
                  </li>
                  <li>
                    <a class='dropdown-item' target='_blank' href='https://www.safebooks.vn/giai-phap-nganh'>Kiến thức
                      kinh doanh</a>
                  </li>
                </ul>
              </li>

              <li class='header-divider'>

              </li>
              <li class='html'>
                <div class='header-button'>
                  <a
                    class='button plain is-outline is-large'
                    href='https://docs.google.com/forms/d/e/1FAIpQLSfncN9U0BUMQEsHJZz5TdgU2cqrKa4AKIvNhW1obccbWk2UIQ/viewform'
                    rel='Tạo tài khoản thành viên'
                    style='border-radius:99px;'
                    target='_blank'
                  >
                    <span>Đăng ký dùng thử</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

      </div>

      <div class='container'>
        <div class='divider full-width'>
        </div>
      </div>
    </div>

    <div class='header-bg-container fill'>
      <div class='header-bg-image fill'>
      </div>
      <div class='header-bg-color fill'>
      </div>
    </div>
  </div>
</header>