<header class='header has-sticky sticky-jump' id='header' style=''>
  <div class='header-wrapper'>
    <div class='header-top hide-for-sticky nav-dark hide-for-medium' id='top-bar'>
      <div class='container justify-content-center'>
        <div class='flex-col hide-for-medium flex-left'>
          <ul class='nav nav-left medium-nav-center nav-small nav-divided'>
            <li class='header-contact-wrapper'>
              <ul class='nav nav-divided nav-uppercase header-contact' id='header-contact'>
                <li class='p-1'>
                  <a
                    class='text-uppercase'
                    href='https://maps.google.com/?q=597M Tên Lửa, phường Bình Trị Đông B, quận Bình Tân, Hồ Chí Minh, Việt Nam'
                    rel='noopener noreferrer'
                    target='_blank'
                    data-bs-toggle='tooltip'
                    data-bs-placement='bottom'
                    title='Địa chỉ'
                  >
                    <i class='icon-map-pin-fill' style='font-size:16px;'>

                    </i>
                    <span> Địa Chỉ </span>
                  </a>
                </li>
                <li class='p-1'>
                  <a
                    class='text-uppercase'
                    href='mailto:mkt.safebook.vn@gmail.com'
                    data-bs-toggle='tooltip'
                    data-bs-placement='bottom'
                    title='Email'
                  >
                    <i class='icon-envelop' style='font-size:16px;'>

                    </i>
                    <span> Email </span>
                  </a>
                </li>
                <li class='p-1'>
                  <a
                    class='text-uppercase'
                    href='tel:093 164 06 79'
                    data-bs-toggle='tooltip'
                    data-bs-placement='bottom'
                    title='phone'
                  >
                    <i class='icon-phone' style='font-size:16px;'>

                    </i>
                    <span>093 164 06 79</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class='flex-col hide-for-medium flex-right'>
          <ul class='nav top-bar-nav nav-right nav-small nav-divided'>
            <li class='html header-social-icons ml-0'>
              <div class='social-icons follow-icons'>
                <a
                  class='icon plain facebook tooltip tooltipstered'
                  data-label='Facebook'
                  href='https://www.facebook.com/'
                  rel='noopener noreferrer nofollow'
                  target='_blank'
                ><i class='icon-facebook'></i></a>
                <a
                  class='icon plain email tooltip tooltipstered'
                  data-label='E-mail'
                  href='mailto:hotrominsoftware@gmail.com'
                  rel='nofollow'
                ><i class='icon-envelop'></i></a>
                <a
                  class='icon plain youtube tooltip tooltipstered'
                  data-label='YouTube'
                  href='https://www.youtube.com/channel/UCKlDFE1V9sAPS2bvrg4FkFQ'
                  rel='noopener noreferrer nofollow'
                  target='_blank'
                ><i class='icon-youtube'></i></a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class='header-main nav-dark' id='masthead'>
      <nav class='navbar navbar-expand-sm navbar-light p-0'>

        <div class='header-inner justify-content-center container logo-left medium-logo-center' role='navigation'>
          <div class='flex-col show-for-medium flex-right position-absolute' style='right:10; top:10'>
            <ul class='mobile-nav nav nav-right'>
              <li class='nav-icon navbar-toggler has-icon'>
                <a
                  aria-controls='main-menu'
                  aria-expanded='false'
                  aria-label='Menu'
                  class='is-small'
                  data-bg='main-menu-overlay'
                  data-color='dark'
                  data-open='#main-menu'
                  data-pos='right'
                  href='#'
                >
                  <i class='icon-menu'></i>
                </a></li>
            </ul>
          </div>
          <div class='flex-col logo m-auto' id='logo'>
            <a href='https://phanmemsafebooks.blogspot.com/?m=1' rel='home' title=''><img
                alt='SAFEBOOKS'
                class='header-logo-dark'
                height='100'
                src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh4CMJcnqUIeRgrl9a7NYCxPBtR9tKfMMj45NYrn1yXQV86YtcdsVQYHgkKbo_Wz1K0J7B3xJA7xXmsyFCx4BjYDcy49wQVyvVKSUkRmkJgyScvI0jdqC4l-pKnRpSGbGb7imDA1yFg15Aq4bP2LkKVU4UJMkWRC9ucB1hRlWXokXIvdNZin8B5shCa2A/s320/logo%20safebook%20(V)-05.png'
                width='200'
              /></a>
          </div>
          <div class='flex-col hide-for-medium flex-left flex-grow' style='margin-left: 30px;'>
            <ul class='header-nav header-nav-main nav nav-left nav-line-bottom nav-spacing-medium nav-uppercase'>
              <li class='header-divider'>
              </li>
              <li class='html custom html_topbar_left'>
                <div class='header-info' style='display: inline-block;vertical-align: middle;'>
                  <span class='text-light'>GỌI NGAY<a
                      style='display:block;font-size:1.1rem;font-weight:700;line-height:1;margin-top: 3px;color:#fff'
                    >093 164 06 79</a>
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class='collapse navbar-collapse justify-content-center' id='navbarTogglerDemo03'>
            <ul class='nav nav-line-bottom toggle-nav justify-content-center'>
              <li class='nav-item active'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/'>Trang Chủ</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/giai-phap-nganh'>Dịch vụ</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/tinh-nang'>Sản Phẩm</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/bang-gia'>Thanh Toán</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' target='_blank' href='https://www.safebooks.vn/lien-he'>Liên Hệ</a>
              </li>

              <li class='nav-item dropdown nav-item-has-children has-dropdown'>
                <a class='nav-link dropdown-toggle nav-top-link' href='#'>Kiến Thức</a>
                <ul class='dropdown-menu nav-dropdown nav-dropdown-default'>
                  <li>
                    <a class='dropdown-item' target='_blank' href='https://www.safebooks.vn/giai-phap-nganh'>Phần mềm</a>
                  </li>
                  <li>
                    <a class='dropdown-item' target='_blank' href='https://www.safebooks.vn/giai-phap-nganh'>Kinh nghiệm
                      kế toán</a>
                  </li>
                  <li>
                    <a class='dropdown-item' target='_blank' href='https://www.safebooks.vn/giai-phap-nganh'>Kiến thức
                      kinh doanh</a>
                  </li>
                </ul>
              </li>

              <li class='header-divider'>

              </li>
              <li class='html'>
                <div class='header-button'>
                  <a
                    class='button plain is-outline is-large'
                    href='#'
                    rel='Tạo tài khoản thành viên'
                    style='border-radius:99px;'
                  >
                    <span>Đăng ký</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class='row'>

            <div class='flex-col show-for-medium flex-right'>
              <ul class='mobile-nav nav nav-right'>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class='container'>
        <div class='divider full-width'>
        </div>
      </div>
    </div>

    <div class='header-bg-container fill'>
      <div class='header-bg-image fill'>
      </div>
      <div class='header-bg-color fill'>
      </div>
    </div>
  </div>
</header>