<nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
        <li class='breadcrumb-item'><a href='/admin/bao-chi'>Báo chí</a></li>
        <li class='breadcrumb-item active' aria-current='page'>{{title}}</li>
    </ol>
</nav>
<section class='p-4 shadow rounded'>
    <form method='post' class='mb-0' enctype='multipart/form-data'>
        <div class='modal-body'>
            <div class='form-outline mb-4'>
                <input
                    type='text'
                    name='link'
                    value='{{media.link}}'
                    class='form-control border'
                    required
                />
                <label class='form-label bold' for='desc'>Liên kết
                    <span class='text-danger'>*</span></label>
            </div>

            <div class='mb-3'>
                <label class='form-label' for='customFile'>Hình ảnh</label>
                <input
                    type='hidden'
                    name='imageInp'
                    id='previewHd'
                    value='{{media.image}}'
                />
                <input
                    type='file'
                    onchange='preview(this)'
                    class='form-control'
                    id='previewInp'
                    accept='image/*'
                    name='media'
                />
                <div id='imageCon' class='mt-2 img-group'>
                    {{#if media.image}}
                        <img src='{{media.image}}' alt='' width='30%' />
                    {{/if}}
                </div>
                <span
                    style='cursor:pointer'
                    onclick="removeUploadImg('previewInp', 'previewHd')"
                    class='text-danger'
                ><i class='fa-solid fa-circle-xmark fa-xl mt-2'></i></span>
            </div>
        </div>
        <div class='modal-footer'>
            <a href='/admin/bao-chi' class='btn btn-secondary me-3'>Đóng</a>
            <button type='submit' class='btn btn-primary'>Cập nhật</button>
        </div>
    </form>
</section>